html{
    background-color: #CCFFFF;
    width: 100%;
    overflow-y: scroll;
  }
body {
    background-color: #808080;
  }

a {
    font-weight:bold;
    text-decoration: none;
    color: white;
    font-family: "candara", Helvetica, Arial;
  }
h1, h2,h3 {
    text-align:center;
    font-family: "candara", Helvetica, Arial;
    color: black;
    margin-top: 3%;
    letter-spacing:5px;
  }
h2{
    color: yellow;
}
#HomeButton {
    background-color: #4169E1;
    border-radius: 12px;
    padding: 0.5%;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
  }
  
  #Links {
    display: flex;
    border-radius: 50%;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  #Links a {
    background-color:#4169E1;
    border-radius: 12px;
    padding: 1%;
  }
  
#details  {
    text-align: center;
}

#table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
td {
    text-decoration: none;
    color: black;
    font-family: "candara", Helvetica, Arial;
    padding: 1%;
      font-weight: bold;
  } 
  
footer {
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
  }
p  {
    text-align: center;
}
